@{
    ViewData["Title"] = "CSGO News Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h3>CSGO!</h3>
    <h4>The newest operation in CS:GO, Operation Riptide, introduces new maps, a revamped mission system, competitive tweaks, and more.</h4>
    <p>
        Riptide is the first Operation we've had since Broken Fang, and it'll be running until February 20. Riptide, of course, comes with it a new operation pass, which grants you an operation coin that you may level up by performing various objectives.

        The game's mechanics alter.
        The ability to drop grenades similar to guns and bombs, providing them additional utility, is arguably the most significant change. They have made some tweaks to Dust 2, which now prevents T Spawn from seeing mid. Finally, there are certain weapon modifications. The M4A1-S will now do more body damage, while the Deagle will deal somewhat less. Dual-wield options have also been reduced in price.
    </p>
</body>
