@{
    ViewData["Title"] = "Fortnite News Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h4>Fortnite has recently released Season 8 and chapter 2 last week!</h4>
    <p>
        Epic Games has refused to rest on its laurels with the popular battle royale series, which has swept the gaming world since its premiere in 2017 and racked up over 125 million gamers in less than a year.

        We saw an interplanetary takeover by a mystery outer space army lead by Doctor Slone in their most recent update, and gamers were charged with stopping the alien attack.
    </p>
</body>