@{
    ViewData["Title"] = "LOL News Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3>WORLDS is COMING</h3>
    <p>
        The League of Legends World Championship is approaching, which means the annual Pick'em game will be in full swing soon. League fans will be able to make their official World Championship picks beginning September 26.

        The Crystal Ball and a mechanic known as "The Coin" were added by Riot this year for the 2021 edition of the Worlds Pick'em game.
    </p>
</body>
