@{
    ViewData["Title"] = "Minecraft News Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h3>CAVES & CLIFFS UPDATE</h3>
    <p>Part I of Caves & Cliffs features new Minecraft critters and blocks! Learn more about the axolotl, but don't be fooled by its cuteness. It's a predator in every sense of the word. The goats are also really cute, but they have a penchant for ramming, so stay your distance or prepare for an aerial adventure. You might run into the glow squid if you're standing near a body of water when the goat's head collides with your blocky body. While you're swimming with these brilliant beauties, don't forget to pick up some glow ink!</p>
</body>
