@{
    ViewData["Title"] = "Valorant News Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h3>Valorant Worlds coming up!</h3>
    <p>
        All that matters in VCT 2021, Riot's first official tournament circuit for VALORANT, is Champions.

        In December, 16 teams from around the world will participate in a two-week-long tournament to determine the first VALORANT global champion.

        Teams will gain circuit points and qualify for the end-of-year tournament by competing in stages consisting of Challengers and Masters tournaments throughout the year.

        Through circuit points earned throughout the year, eleven teams from North America, Europe, Brazil, Southeast Asia, Korea, Japan, and Latin America will compete for the title of Champions. The winner of the VCT Masters Berlin qualifies for the event automatically.

        The four remaining slots in the event—one from North America, one from Europe, one from South America, and one from Asia—will be determined by the Last Chance Qualifier, which will take place in October.
    </p>
</body>
